## local env
PUBLIC_GRAPHQL_ENDPOINT= 'https://hasura.traefik.me/v1/graphql'
HASURA_GRAPHQL_ADMIN_SECRET = 'hasura-admin-secret'
NHOST_AUTH_URL = 'https://auth.traefik.me/v1'

## nonprod env
# PUBLIC_GRAPHQL_ENDPOINT= 'fillme'
# HASURA_GRAPHQL_ADMIN_SECRET = 'fillme'
# NHOST_AUTH_URL = 'fillme'
