## local env
HASURA_GRAPHQL_ADMIN_SECRET = 'hasura-admin-secret'
NHOST_GRAPHQL_URL= 'https://local.hasura.local.nhost.run/v1/graphql'
NHOST_AUTH_URL = 'https://local.auth.local.traefik.me/v1'

## nonprod env
# HASURA_GRAPHQL_ADMIN_SECRET = 'fillme'
# NHOST_GRAPHQL_URL= 'https://swzucovdccjouwebopwb.hasura.us-west-2.nhost.run/v1/graphql'
# NHOST_AUTH_URL = ''https://swzucovdccjouwebopwb.auth.us-west-2.nhost.run/v1'
