/*
!/.graphqlrc.yaml
!/schema.graphql
!/houdini.config.js
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/svelte.config.js
!/tailwind.config.cjs
!/vite.config.js
!/postcss.config.cjs
!/src
!/static
!/patches
!/config
!/tsconfig.json
!/vite.config.ts
# we need some static/build-time environment variables during build
!.env
!.npmrc
