# Documentation
# https://help.github.com/en/articles/about-code-owners

/packages                                @xmlking
/apps/playground                         @xmlking
/apps/web                         		 @xmlking
/apps/docs                               @xmlking
/.github                                 @xmlking
/dashboard/                              @xmlking
/docs/                                   @xmlking @karthi
/intra/                                  @xmlking
