/*
!.git
!.gitignore
!.npmrc
!tsconfig.json
!turbo.json
!bun.lockb
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/apps
!/packages
!/patches
!/config
!/scripts
!.env.example
!.secrets.example

**/build
**/.turbo
**/.svelte-kit
**/$houdini
**/node_modules
**/README.md
**/CHANGELOG.md
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
