.DS_Store
node_modules

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# vercel #
###################
/examples
/functions

/.vercel_build_output
.vercel_build_output

# Project files #
#############################
CHANGELOG.md
.idea
dev-dist
/infra/helm
infra/hasura
