GRAFANA_ADMIN_PASSWORD =
HASURA_GRAPHQL_ADMIN_SECRET =
HASURA_GRAPHQL_JWT_SECRET =
NHOST_WEBHOOK_SECRET =

CLIENT_URL = 'http://localhost:5173'

# PROVIDERS
AUTH_PROVIDER_AZUREAD_CLIENT_ID =
AUTH_PROVIDER_AZUREAD_CLIENT_SECRET =
AUTH_PROVIDER_AZUREAD_TENANT =
AUTH_PROVIDER_GOOGLE_CLIENT_ID =
AUTH_PROVIDER_GOOGLE_CLIENT_SECRET =
AUTH_PROVIDER_GITHUB_CLIENT_ID =
AUTH_PROVIDER_GITHUB_CLIENT_SECRET =

# SMTP
AUTH_SMTP_HOST =
AUTH_SMTP_PORT = 587
AUTH_SMTP_AUTH_METHOD = 'LOGIN'
AUTH_SMTP_SECURE = false
AUTH_SMTP_USER =
AUTH_SMTP_PASS =
AUTH_SMTP_SENDER =
