GRAFANA_ADMIN_PASSWORD = 'FIXME'
HASURA_GRAPHQL_ADMIN_SECRET = 'nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET_KEY = 'FIXME'
NHOST_WEBHOOK_SECRET = 'nhost-webhook-secret'
POSTGRES_PASSWORD = 'FIXME'

## AUTH PROVIDERS
AUTH_PROVIDER_AZUREAD_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_AZUREAD_CLIENT_SECRET = 'FIXME'
AUTH_PROVIDER_AZUREAD_TENANT = 'FIXME'
AUTH_PROVIDER_GOOGLE_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_GOOGLE_CLIENT_SECRET = 'FIXME'
AUTH_PROVIDER_GITHUB_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_GITHUB_CLIENT_SECRET = 'FIXME'

## SMTP (for local development, use `mailpit` server, for prod: set appropriate `AUTH_SMTP_` variables)
AUTH_SMTP_HOST = 'mailpit'
AUTH_SMTP_PORT = '1025'
AUTH_SMTP_AUTH_METHOD = 'PLAIN'
AUTH_SMTP_SECURE = 'false'
AUTH_SMTP_USER = 'user'
AUTH_SMTP_PASS = 'password'
AUTH_SMTP_SENDER = 'hasura-auth@example.com'

## STORAGE
STORAGE_ACCESS_KEY = 'storage-access-key-never-use-this-value'
STORAGE_SECRET_KEY = 'storage-secret-key-never-use-this-value'
STORAGE_DEFAULT_BUCKETS = 'apps:download,public:public'

## AI
OPENAI_API_KEY = 'FIXME'
GRAPHITE_WEBHOOK_SECRET= 'webhookSecret'
