GRAFANA_ADMIN_PASSWORD = 'FIXME'
HASURA_GRAPHQL_ADMIN_SECRET = 'nhost-admin-secret'
HASURA_GRAPHQL_JWT_SECRET = 'FIXME'
NHOST_WEBHOOK_SECRET = 'nhost-webhook-secret'

CLIENT_URL = 'http://localhost:5173'

# PROVIDERS
AUTH_PROVIDER_AZUREAD_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_AZUREAD_CLIENT_SECRET = 'FIXME'
AUTH_PROVIDER_AZUREAD_TENANT = 'FIXME'
AUTH_PROVIDER_GOOGLE_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_GOOGLE_CLIENT_SECRET = 'FIXME'
AUTH_PROVIDER_GITHUB_CLIENT_ID = 'FIXME'
AUTH_PROVIDER_GITHUB_CLIENT_SECRET = 'FIXME'

# SMTP
AUTH_SMTP_HOST = 'FIXME'
AUTH_SMTP_PORT = '587'
AUTH_SMTP_AUTH_METHOD = 'LOGIN'
AUTH_SMTP_SECURE = 'false'
AUTH_SMTP_USER = 'FIXME'
AUTH_SMTP_PASS = 'FIXME'
AUTH_SMTP_SENDER = 'sumodemo123@gmail.com'
