.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock
vite.config.*.timestamp-*

# Project files #
#############################
.vercel_build_output/**
static/**
/coverage
CHANGELOG.md
schema.graphql
$houdini
