@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
  /* Custom accent colors. */
  --color-accent-50: var(--color-fuchsia-50);
  --color-accent-100: var(--color-fuchsia-100);
  --color-accent-200: var(--color-fuchsia-200);
  --color-accent-300: var(--color-fuchsia-300);
  --color-accent-400: var(--color-fuchsia-400);
  --color-accent-500: var(--color-fuchsia-500);
  --color-accent-600: var(--color-fuchsia-600);
  --color-accent-700: var(--color-fuchsia-700);
  --color-accent-800: var(--color-fuchsia-800);
  --color-accent-900: var(--color-fuchsia-900);
  --color-accent-950: var(--color-fuchsia-950);
  /* Custom gray scale. */
  --color-gray-50: var(--color-slate-50);
  --color-gray-100: var(--color-slate-100);
  --color-gray-200: var(--color-slate-200);
  --color-gray-300: var(--color-slate-300);
  --color-gray-400: var(--color-slate-400);
  --color-gray-500: var(--color-slate-500);
  --color-gray-600: var(--color-slate-600);
  --color-gray-700: var(--color-slate-700);
  --color-gray-800: var(--color-slate-800);
  --color-gray-900: var(--color-slate-900);
  --color-gray-950: var(--color-slate-950);
  --font-sans: var(--font-roboto);
  /* --font-sans: var(--font-inter); */
  /* --font-sans: var(--font-source-code-pro); */
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
