MICROSOFT_GRAPH_TENANT_ID=<fill-me-in>
MICROSOFT_GRAPH_CLIENT_ID=<fill-me-in>
MICROSOFT_GRAPH_CLIENT_SECRET=<fill-me-in>

# I am using diffirent GitHub Oauth ClientID for Auth.JS login
AUTH_PROVIDER_GITHUB_CLIENT_ID = 'Iv1......'
AUTH_PROVIDER_GITHUB_CLIENT_SECRET = 'b-----4a'
