# RATE_LIMIT_SECRET: On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/64 to generate a secret.
# or copy (openssl rand -hex 64) output here
RATE_LIMIT_SECRET='fill-me-in'
## AI
OPENAI_ORG_ID = ''
OPENAI_PROJECT_ID = ''
OPENAI_API_KEY = ''

## FEATURE FLAGS
# you could generate new secret with: `node -e "console.log(crypto.randomBytes(32).toString('base64url'))"`
FLAGS_SECRET = 'FIXME'
