# RATE_LIMIT_SECRET: On UNIX systems you can use `openssl rand -hex 32` or
# https://generate-secret.vercel.app/64 to generate a secret.
# or copy (openssl rand -hex 64) output here
RATE_LIMIT_SECRET='fill-me-in'
