---
import ContactForm from '@components/ContactForm.astro';
import Container from '@components/Container.astro';
import SectionHead from '@components/SectionHead.astro';
import Layout from '@layouts/Layout.astro';
import { Icon } from '@astrojs/starlight/components';
---

<Layout title="Contact">
	<Container>
		<div class="relative ml-auto pt-36">
			<SectionHead>
				<Fragment slot="title">Contact</Fragment>
				<Fragment slot="desc">We are a here to help.</Fragment>
			</SectionHead>

			<div class="mx-auto mt-16 grid max-w-4xl gap-10 md:grid-cols-2">
				<div>
					<h2 class="text-2xl font-medium text-gray-800">Contact Astroship</h2>
					<p class="mt-3 text-lg leading-relaxed text-slate-500">
						Have something to say? We are here to help. Fill up the form or send email
						or call phone.
					</p>
					<div class="mt-5">
						<div class="mt-2 flex items-center space-x-2 text-gray-600">
							<Icon class="h-4 w-4 text-gray-400" name="matrix" />
							<span>1234 Irvine, CA 92504</span>
						</div><div class="mt-2 flex items-center space-x-2 text-gray-600">
							<Icon class="h-4 w-4 text-gray-400" name="email" /><a
								href="mailto:hello@spectacular.com">hello@spectacular.com</a
							>
						</div><div class="mt-2 flex items-center space-x-2 text-gray-600">
							<Icon class="h-4 w-4 text-gray-400" name="rocket" /><a
								href="tel:+1 (111) 222 333">+1 (111) 222 333</a
							>
						</div>
					</div>
				</div>
				<div>
					<ContactForm />
				</div>
			</div>
		</div>
	</Container>
</Layout>
