---
import Blog from '@components/Blog.astro';
import CallToAction from '@components/CallToAction.astro';
import Features from '@components/Features.astro';
import HeroSection from '@components/HeroSection.astro';
import Stats from '@components/Stats.astro';
import Testimonials from '@components/Testimonials.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Spectacular">
	<main class="mb-40 space-y-40">
		<HeroSection />
		<Features />
		<Stats />
		<Testimonials />
		<CallToAction />
		<Blog />
	</main>
</Layout>
