---
import Blog from "@components/blog.astro";
import CallToAction from "@components/call-to-action.astro";
import Features from "@components/features.astro";
import HeroSection from "@components/hero-section.astro";
import Stats from "@components/stats.astro";
import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/layout.astro";
---

<Layout title="Welcome to Spectacular">
  <main class="mb-40 space-y-40">
    <HeroSection />
    <Features />
    <Stats />
    <Testimonials />
    <CallToAction />
    <Blog />
  </main>
</Layout>
