---
import { Icon } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';
import localWavingImage from '@assets/waving-avatar.png';
import Counter from '@components/Counter.svelte';
import Layout from '@layouts/Layout.astro';
---

<Layout title="About">
    <Image src={localWavingImage} alt="An avatar waving hand." />
    <Icon name="star" color="goldenrod" size="2rem" />
    <h1 class="mb-6 text-2xl font-bold text-yellow-500 md:text-3xl">About Me</h1>
    <Counter client:load />
</Layout>
